<section id="labs" class="container">
  <h1>All Labs</h1>

  {{#each labs}}
  <div class="lab">
    <h3><a href='/labs/{{lab_id}}'>{{lab_name}}</a></h3>
<!--    <p>{{description}}</p>
    <ul>
      <li>Name: {{lab_name}}</li>
      <li>Address: {{lab_address}}</li>
    </ul>
    <div class="tech">
      <small>User: <span>{{lab_user_name}}</span></small>
    </div>
  --></div>
  {{else}}
  <p>No labs available</p>
  {{/each}}

</section>